<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TESTANDO </title>

    <!-- script js --> 
</head>

<body>
  <header>
   <h1> UOPAAA</h1>
  </header>
  <div>How many options do you want to require?</div><br>
  <label for="fname">Value:</label>
  <input type="text" id="value" name="value"><br><br>
  <select name="options" id="options">
    <option value="abv_gt">abv_gt</option>
    <option value="abv_lt">abv_lt</option>
    <option value="ibu_gt">ibu_gt</option>
    <option value="ibu_lt">ibu_lt</option>
    <option value="ebc_gt">ebc_gt</option>
    <option value="ebc_lt">ebc_lt</option>
    <option value="beer_name">beer_name</option>
    <option value="brewed_before">brewed_before</option>
    <option value="brewed_after">brewed_after</option>
    <option value="hops">hops</option>
    <option value="malt">malt</option>
    <option value="food">food</option>
    <option value="ids">ids</option>
  </select>
  <br><br>
  <input type="submit" value="Submit" id="submit">
  <button id="random">Get a random Beer</button>
  <script src="mudarei.js"></script>
</body>
</html>